* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #eee !important; }

.section-container {
  padding: 100px 0; }

.page-container {
  padding-bottom: 50px; }

.section-header {
  font-size: 50px;
  font-weight: bold; }

.container {
  height: 100%; }

.cta-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px; }

.navbar {
  background-color: #00154F; }

.navbar-brand-image {
  width: 100px; }

.image-cropper {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #00154F; }

@media (max-width: 800px) {
  .section-container {
    padding: 50px 0; } }

.button {
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  transition: all .2s;
  text-align: center; }
  .button:hover {
    color: white;
    text-decoration: none; }

.solid-cta-button-light {
  color: white;
  border: 2px solid #F4AF1B;
  background-color: #F4AF1B; }
  .solid-cta-button-light:hover {
    border: 2px solid #c99117;
    background-color: #c99117; }

.solid-cta-button-dark {
  color: white;
  border: 2px solid #00154F;
  background-color: #00154F; }
  .solid-cta-button-dark:hover {
    border: 2px solid #021037;
    background-color: #021037; }

.ghost-cta-button {
  padding: 10px 15px;
  border-radius: 4px; }
  .ghost-cta-button-light {
    color: white;
    border: 2px solid white;
    background-color: transparent; }
    .ghost-cta-button-light:hover {
      background-color: white;
      color: black; }
  .ghost-cta-button-dark {
    color: #00154F;
    border: 2px solid #00154F;
    background-color: transparent; }
    .ghost-cta-button-dark:hover {
      background-color: #00154F;
      color: white; }

.flipped-wave {
  transform: rotate(180deg) translateY(1px); }

.waves .waves-container {
  background-color: #00154F; }
  .waves .waves-container .section-header {
    margin-bottom: 0;
    color: white; }

.waves, .wave {
  width: 100%; }

.header {
  background-color: #00154F;
  padding: 30px 0; }
  .header * {
    color: white; }
  .header .container {
    height: 100%; }
  .header-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    align-items: center;
    height: 100%; }
    .header-grid-left-main-header {
      font-size: 65px;
      font-weight: bold; }
    .header-grid-left-sub-header {
      line-height: 2rem; }
    .header-grid-right {
      text-align: center;
      overflow: visible;
      height: 500px;
      background-image: url("../../../../img/blobs/blob1.svg"), url("../../../../img/blobs/blob2.svg"), url("../../../../img/blobs/blob3.svg");
      background-position: center; }
      .header-grid-right-illustration {
        width: 50%;
        transform: translate(15px, 15px); }

@media (max-width: 1000px) {
  .header-grid {
    display: block; }
    .header-grid-right {
      display: none; } }

.partners-section {
  height: auto;
  padding: 25px 0 50px 0; }
  .partners-section-header {
    position: relative; }
    .partners-section-header .see-more {
      position: absolute;
      top: 15px;
      right: 0; }
  .partners-section .partners-container {
    width: 100%; }
    .partners-section .partners-container .partner {
      display: flex;
      align-items: center;
      padding: 0 15px; }
      .partners-section .partners-container .partner img {
        width: 100%;
        filter: grayscale(100%);
        opacity: .3; }

.our-partners .partners-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  grid-gap: 50px;
  align-items: center; }
  .our-partners .partners-grid .partner {
    width: 100%; }

.about .section-container {
  padding-bottom: 50px; }

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  align-items: center;
  height: 100%; }
  .about-grid-left {
    padding-right: 50px; }
    .about-grid-left-illustration {
      width: 100%; }

.about-us .persons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 15px; }
  .about-us .persons .person {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-gap: 20px;
    align-items: flex-start;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1); }
    .about-us .persons .person-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
      .about-us .persons .person-info-links {
        justify-self: flex-end;
        display: grid;
        grid-template-columns: repeat(3, 25px);
        grid-gap: 5px;
        justify-content: flex-end; }
        .about-us .persons .person-info-links img {
          width: 100%; }
    .about-us .persons .person-image {
      width: 100%; }
    .about-us .persons .person-name {
      font-weight: bold; }
    .about-us .persons .person-description {
      line-height: 1rem; }

@media (max-width: 800px) {
  .about-grid {
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 15px; }
    .about-grid-left {
      text-align: center; }
      .about-grid-left-illustration {
        width: 50%; }
  .about-us .persons {
    grid-template-columns: repeat(auto-fill, 100%); } }

.features-section {
  background-color: #00154F; }
  .features-section * {
    color: white; }
  .features-section .features {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px; }
    .features-section .features .feature {
      display: grid;
      grid-template-columns: 40px 1fr;
      grid-gap: 15px; }
      .features-section .features .feature-icon {
        width: 100%; }
      .features-section .features .feature-content small {
        font-size: 14px; }

.get-started .steps {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 30px; }
  .get-started .steps .step {
    position: relative;
    padding-top: 50px; }
    .get-started .steps .step-number {
      position: absolute;
      line-height: 10rem;
      opacity: .15;
      font-size: 250px;
      font-weight: bold; }
    .get-started .steps .step-content {
      padding-top: 25px;
      margin-left: 75px; }
      .get-started .steps .step-content-points {
        margin-left: 25px; }

.footer {
  position: relative;
  background-color: #00154F;
  padding-bottom: 100px; }
  .footer * {
    color: white; }
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px; }
    .footer-grid h3 {
      margin-bottom: 15px; }
    .footer-grid a, .footer-grid span {
      color: #ccc; }
      .footer-grid a:hover, .footer-grid span:hover {
        color: white;
        text-decoration: none; }
    .footer-grid-links {
      list-style: none; }
      .footer-grid-links-item {
        margin-bottom: 5px; }
    .footer-grid-contact-item a {
      display: grid;
      grid-template-columns: 30px 1fr;
      grid-gap: 15px;
      align-items: center; }
      .footer-grid-contact-item a img {
        width: 100%; }
  .footer .copyright-container {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }
    .footer .copyright-container .social-media {
      display: grid;
      grid-template-columns: repeat(3, 30px);
      grid-gap: 15px;
      justify-content: center;
      margin-bottom: 15px; }
      .footer .copyright-container .social-media-icon {
        width: 100%; }

@media (max-width: 800px) {
  .footer {
    padding-bottom: 150px; }
    .footer-grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); } }
