$color-primary: #00154F;         // BLUE
$color-secondary: #F4AF1B;       // YELLOW
$color-primary-dark: #021037;         // DARK BLUE
$color-secondary-dark: #c99117;  // DARK YELLOW

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee !important;
}

.section-container {
  padding: 100px 0;
}

.page-container {
  padding-bottom: 50px;
}

.section-header {
  font-size: 50px;
  font-weight: bold;
}

.container {
  height: 100%;
}

.cta-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.navbar {
  background-color: $color-primary;
}

.navbar-brand-image {
  width: 100px;
}

.image-cropper {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid $color-primary;
}



@media (max-width: 800px) {
  .section-container {
    padding: 50px 0;
  }
}
