$color-primary: #00154F;   // BLUE
$color-secondary: #F4AF1B; // YELLOW

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

section {
  height: 90vh;
}

.section-container {
  padding: 50px 0;
}
