.ghost-input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid $color-primary;
  border-radius: 4px;
  transition: all .2s;

  &:focus {
    outline: none;
    border-color: $color-primary-dark;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
  }
}
