.featured-products-section {
  background-color: $color-primary;

  * {
    color: white;
    transition: all .2s;
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    justify-items: center;
    
    grid-gap: 50px;

    .product-link {

      .product-image {
        width: 100%;
        box-shadow: 0 5px 20px rgba(0,0,0,.6);
        border-radius: 4px;
      }

      .product-image {

        &:hover {
          transform: scale(1.1);
        }
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(auto-fill, 100%) !important;
  }
}
