.footer {
  position: relative;
  background-color: $color-primary;
  padding: 75px 0;

  *:not(a) {
    color: white;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 25px;

    & h3 {
      margin-bottom: 15px;
    }

    &-links, &-contact {
      list-style: none;

      &-item {
        margin-bottom: 5px;
      }

      & a, span {
        color: #ccc;

        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }

    &-contact {

      &-item a {
        display: grid;
        grid-template-columns: 30px 1fr;
        grid-gap: 15px;
        align-items: center;

        & img {
          width: 100%;
        }
      }
    }
  }

  .copyright-container {
    transform: translateY(-30px);

    & img {
      width: 200px;
    }
  }
}

.social-media {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-gap: 10px;

  &-icon {
    width: 100%;
    transition: all .2s;

    &:hover {
      transform: scale(1.2);
    }
  }
}


@media (max-width: 800px) {
  .footer {
    padding: 50px 0;

    &-grid {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

      & div:nth-last-child(4) {
        display: none;
      }
    }
  }
}

.alert {
  padding: 15px;
  background-color: darkblue;
  color: white;
  overflow-x: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}