.footer {
  position: relative;
  background-color: $color-primary;
  padding-bottom: 100px;

  *:not(a) {
    color: white;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;

    & h3 {
      margin-bottom: 15px;
    }

    &-links, &-contact {
      list-style: none;

      &-item {
        margin-bottom: 5px;
      }

      & a, span {
        color: #ccc;

        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }

    &-contact {

      &-item a {
        display: grid;
        grid-template-columns: 30px 1fr;
        grid-gap: 15px;
        align-items: center;

        & img {
          width: 100%;
        }
      }
    }
  }

  .copyright-container {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;

    .social-media {
      display: grid;
      grid-template-columns: repeat(4, 30px);
      grid-gap: 10px;
      justify-content: center;
      margin-bottom: 15px;

      &-icon {
        width: 100%;
        transition: all .2s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}


@media (max-width: 800px) {
  .footer {
    padding-bottom: 150px;

    &-grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
}
