.trusted-by-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  align-items: center;

  & img {
    width: 100%;
    opacity: 0.6;
    filter: alpha(opacity=40);
  }
}
