.about {
  padding: 50px 0;

  &-container {
    width: 600px;
    margin: 0 auto;
    text-align: center;

    & h2 {
      font-weight: bold;
    }

    & p {
      margin-top: 25px;
      font-size: 17.5px;
    }
  }

  .statistics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
    margin-top: 50px;

    & .statistic {
      background-color: white;
      padding: 20px;
      border-radius: 7.5px;
      box-shadow: 0 5px 25px rgba(0,0,0,.1);
      text-align: center;

      & .number {
        display: block;
        font-size: 50px;
        font-weight: bold;
        color: $color-primary;
      }
    }
  }
}


// ABOUT PAGE
.about-us {

  .advisors {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
  }

  .persons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 15px;

    .person {
      display: grid;
      grid-template-columns: 75px 1fr;
      grid-gap: 20px;
      align-items: flex-start;
      background-color: white;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 5px 30px rgba(0,0,0,.1);

      &-info {
        display: grid;
        grid-template-columns: 70% 30%;

        &-links {
          justify-self: flex-end;

          display: grid;
          grid-template-columns: repeat(2, 25px);
          grid-gap: 5px;
          justify-content: flex-end;

          & img {
            width: 100%;
          }
        }
      }

      &-image {
        width: 100%;
      }

      &-name {
        font-weight: bold;
      }

      &-description {
        line-height: 1rem;
      }
    }
  }
}


@media (max-width: 800px) {
  .about {

    &-container {
      width: 100%;
    }

    & .statistics-grid {
      grid-gap: 25px;

      .statistic .number {
        font-size: 35px;
      }
    }
  }
}

@media (max-width: 600px) {
  .about-us {
    .persons {
      grid-template-columns: repeat(auto-fill, 100%);

      .person:not(.advisor) {
        grid-template-columns: repeat(auto-fill, 100%) !important;

        .image-cropper {
          width: 100px;
        }
      }
    }
  }
}
