.about {

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    align-items: center;

    height: 100%;

    &-left {
      padding-right: 50px;
      &-illustration {
        width: 100%;
      }
    }
  }
}
