.header {
  background-color: $color-primary;
  height: 90vh;

  * {
    color: white;
  }

  .container {
    height: 100%;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    align-items: center;

    height: 100%;

    &-right {
      background-color: white;
      width: 100%;
      height: 100%;
    }
  }
}
