.header {
  background-color: $color-primary;
  padding: 30px 0;

  * {
    color: white;
  }

  .container {
    height: 100%;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    align-items: center;

    height: 100%;

    &-left {

      &-main-header {
        font-size: 65px;
        font-weight: bold;
      }

      &-sub-header {
        line-height: 2rem;
      }
    }

    &-right {
      // background-image: url("../../../../img/blobs/blob1.svg"), url("../../../../img/blobs/blob2.svg"), url("../../../../img/blobs/blob3.svg");
      // background-position: center;

      &-illustration {
        width: 100%;
        animation: float 6s ease-in-out infinite;
        // width: 50%;
        // transform: translate(15px, 15px);
      }
    }
  }
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


@media (max-width: 1000px) {
  .header {

    &-grid {
      // display: block;

      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;

      // &-right {
      //   display: none;
      // }
    }
  }
}
