.header {
  background-color: $color-primary;

  * {
    color: white;
  }

  .container {
    height: 100%;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    align-items: center;

    height: 100%;

    &-left {

      &-main-header {
        font-size: 65px;
        font-weight: bold;
      }

      &-sub-header {
        line-height: 2rem;
      }
    }

    &-right {
      text-align: center;
      overflow: visible;
      height: 500px;

      &-illustration {
        width: 50%;
        transform: translate(15px, 15px);
      }

      background-image: url("../../../../img/blobs/blob1.svg"), url("../../../../img/blobs/blob2.svg"), url("../../../../img/blobs/blob3.svg");
      background-position: center;
    }
  }
}
