.partners-section {
  height: auto;
  padding: 25px 0 50px 0;

  &-header {
    position: relative;

    .see-more {
      position: absolute;
      top: 15px;
      right: 0;
    }
  }

  .partners-container {
    width: 100%;

    .partner {
      display: flex;
      align-items: center;

      padding: 0 15px;

      & img {
        width: 100%;
        filter: grayscale(100%);
        opacity: .3;
      }
    }
  }
}


// PARTNERS PAGE
.our-partners {

  .partners-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-gap: 50px;
    align-items: center;

    .partner {
      width: 100%;
    }
  }
}
